<h1>About</h1>
<p>ScheduLink is a complete Management system compressed into one software. Schedulink allows the managemnent of staff rotas and and all employee engagement with your organisation.</p>
