 <div class="login-page-box">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-box">
<%= "Edit User" %>
<%= form_for @user do |f|  %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

</div>
</div>
</div>
</div>