 <div class="login-page-box">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-box">
<% @shifts.each do |shift| %>
<%= shift.start_time %>
<% end %>

</div>
</div>
</div>
</div>
