<div class="row">
  <div class="spacer"></div>
  <div class="container text-center jumbotron">
    <h1>ScheduLink</h1>
        <p>	ScheduLink is a complete Management system compressed into one software. Schedulink allows the managemnent of staff rotas and and all employee engagement with your organisation.</p>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
