/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 

 *= require jquery-ui/datepicker
 *= require jquery.timepicker.css
 *= require_self
 *= require_tree .
 *= require fullcalendar_engine/application
*/

@import "bootstrap";
@import "bootstrap-sprockets";
@import 'bootstrap/theme';
@import "global.css.scss";
@import "calendar.css.scss";
@import "chosen.css.scss";
@import "chosen.min.css.scss";
@import "conversations.css.scss";
@import "mailbox.css.scss";
@import "welcome.css.scss";
@import "shifts.css.scss";
@import "users.css.scss";


/* footer  *= require fullcalendar_engine/application
*/

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #3366CC;
}
.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background:#999;
   color:#FFF;
}


footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
/*flash *= require fullcalendar_engine/application
*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }



.navbar-collapse.collapse {

    background-color: #3366CC;
    color: #FFFFFF;
}

.container-fluid .navbar-brand {
  color: #FFFFFF;
}


nav.navbar-nav.navbar-right li a:hover{
  color: #3366CC;
}


.navbar-mynav{
color: #FFFFFF;
}

.navbar-nav>li>a{
color: #FFFFFF;
}


.navbar-collapse.collapse, a{
color: #FFFFFF;
}



.nav.navbar-nav.pull-right, a{
color: #FFFFFF;
}
.navbar-default .navbar-mynav>li>a {
    color: #FFFFFF;
}

.navbar-mynav .navbar-toggle {
    border-color: #ddd;
}

 .nav.navbar-nav.navbar-right li a {
    color: white;
}
.nav.navbar-nav.navbar-right li a:after {
color:black;
}

  

.nav.navbar-nav.navbar-right li a:hover{
  color: #3366CC;
}